.hourBody {
    display: inline-block;
    height: 30rem;
    width: 100%;
    text-align: center;
    overflow: scroll;
}

.hourBlock {
    display: inline-block;
    padding: 0;
    width: 30%;
    height: 15rem;
    font-size: .75rem;
}

li {
    margin: .5rem;
}